{% extends 'server/base.html' %}
{% load static %}

{% block content_right %}
    <div class="content_right_header">
        Запитайте нас
    </div>

    <fieldset>
       <form action="{% url 'main:contacts' %}" method="post" class="contact_form">
            {% csrf_token %}
            <label for="username">Ваше ім'я</label>
            <input type="text" id="username" name="username"><br>

            <label for="email">Ваш email</label>
            <input type="email" id="email" name="email" placeholder="name@example.com"><br>

            <label for="subject">Про що хочете нас спитати?</label>
            <input type="text" id="subject" name="subject"><br>

            <label for="game">Назва гри</label>
            <input type="text" id="game" name="game"><br>

            <textarea
                name="letter"
                id="letterBody"
                placeholder="Напишіть тут вашу проблему чи питання"></textarea><br>

            <input type="submit" value="Надіслати">
        </form>
    </fieldset>

    <br>
    <div class="content_right_header">
        Наші контактні данні
    </div>
    <p>
        <strong>Адрес: </strong>Suðurgata, 41, Київ, ВДНХ <br>
        <strong>Телефон: </strong> +354 (354) 123-456 <br>
        <strong>Email: </strong>mnebrat1706@gmail.com<br>
    </p>

    <script type="text/javascript" charset="utf-8" async 
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A933ea6ad7d37c0e6d181bb01bf0e5d3e012cd58b8b0e957cfd86fc156d507af5&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true">
    </script>
{% endblock %}
